@model List<QuieroPizza.BL.Producto>
@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>


<table>
    <tr>
        <td>
           1
        </td>
        <td>
            Pizza1
        </td>
    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            Pizza2
        </td>
    </tr>
</table>